# general
*~

# DigiESP/Eclipse CDT specifics
/Debug
/Release

# XCode specifics
*.xcuserstate
xcuserdata/

# Autotools specifics
build/
*.o
Makefile
Makefile.in
autom4te.cache/
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
configure_aux/
.dirstamp
.deps/
stamp-h1
# specifically these: because autoreconf -fi creates them
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4